.editor-styles-wrapper, .editor-post-title__block .editor-post-title__input { font-family: 'Montserrat', sans-serif !important; }
.editor-block-list__block > .editor-block-list__insertion-point { position: relative; top: 0; }

.wp-block { max-width: 795px !important }
.editor-block-list__block dd, .editor-block-list__block li { margin: 0; }

.has-smargt-blue-color, .has-smart-blue-color { color: #1db4c1; }
.has-smart-pink-color { color: #ff1569; }
.has-smart-blue-background-color { background: #1db4c1 !important; }
.rct {padding: 20px 0 !important; }

.tc {text-align: center;}
.fb {font-weight: bold;}
.cb {color: #1db4c1;}
.column2 { display: grid; grid-template-columns: 1fr 1fr; grid-column-gap: 20px; }
.column3 { display: grid; grid-template-columns: 1fr 1fr; grid-column-gap: 20px; }

@media (max-width: 768px) {
    .column2 {grid-template-columns: 1fr;}
    .column3 {grid-template-columns: 1fr;}
}

.blue strong { color: #1db4c1; }
.f18 strong {font-size: 18px;}
.blue-text { color: #1db4c1; }
h3 { font-size: 36px; font-weight: 400; font-family: 'Montserrat'; line-height: 42px; }


.entry-content h3, .entry-content h4 { margin: 0 0 20px 0; }

.entry-content ul { list-style: disc; padding: 0 0 0 20px; margin-bottom: 20px; }

.center-text { text-align: center; }

.wp-block-quote:not(.is-large):not(.is-style-large) { border-left: 4px solid #1db4c1; padding-left: 1em; }

.wp-block-quote { margin-bottom: 25px; }
.wp-block-quote cite { font-style: normal; }

.editor-styles-wrapper .modal { display: none; }


.editor-block-list__layout .editor-default-block-appender > .editor-default-block-appender__content, .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit, .editor-block-list__layout > .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit
{ margin: 0; }
div[class^="wp-block-block-lab-"] { padding: 0; }


div[class^="wp-block-block-lab-"] .block-form { background: #fff; border: 5px solid rgba(195, 195, 195, 0.39); }
.editor-block-list__layout .editor-block-list__block .editor-block-list__block-edit::before { top: 0; right: 0; left: 0; bottom: 0; }
.wp-block-separator {border-bottom: 1px solid #ccc; margin: 1em 0; border-top: 0; height: 1px; }


.single-post .entry-content > p, .editor-block-list__layout .editor-block-list__block { margin-bottom: 15px; font-size: 15px; line-height: 26px; }
.single-post .entry-content > h4 { margin-bottom: 15px; }


ul.arrows4 { margin: 0 0 30px 0 !important; padding: 0 !important; list-style: none !important;  }
ul.arrows4 li { position: relative; padding: 5px 20px; }
ul.arrows4 li:before { content: "\f058"; font-family: FontAwesome; position: absolute; left: 0; top: 8px; color: #1db4c1; }

ul.arrows5 { margin: 0 0 30px 0 !important; padding: 0 !important; list-style: none !important;  }
ul.arrows5 li { position: relative; padding: 5px 20px; }
ul.arrows5 li:before { content: "\f138"; font-family: FontAwesome; position: absolute; left: 0; top: 8px; color: #1db4c1; }


ul.arrows { margin: 0 0 30px 0 !important; padding: 0 !important; list-style: none !important;  }
ul.arrows li { position: relative; padding: 5px 14px; }
ul.arrows li:before { content: "\f105"; font-family: FontAwesome; position: absolute; left: 0; color: #1db4c1; }

ul.arrows1 { margin: 0 0 30px 0 !important; padding: 0 !important; list-style: none !important;  }
ul.arrows1 li { position: relative; padding: 5px 14px; }
ul.arrows1 li:before { content: "\f105"; font-family: FontAwesome; position: absolute; left: 0; color: #ff1569; }

ul.arrows2 { margin: 0 0 30px 0 !important; padding: 0 !important; list-style: none !important;  }
ul.arrows2 li { position: relative; padding: 5px 0px; }
ul.arrows2 li:before { content: "➤"; position: relative; left: 0; color: #1db4c1; padding-right: 4px; }

ul.arrows3 { margin: 0 0 30px 0 !important; padding: 0 !important; list-style: none !important;  }
ul.arrows3 li { position: relative; padding: 5px 0px; }
ul.arrows3 li:before { content: "➤"; position: relative; left: 0; color: #ff1569; padding-right: 4px; }


ul.shedule { margin: 0 0 30px 0 !important; padding: 0 !important; list-style: none !important;  }
ul.shedule li {position: relative; padding: 10px 10px 10px 28px;}
ul.shedule li::before { content: "•"; width: 14px; height: 26px; position: absolute; color: #1db4c1;
    text-align: center;top: 7px; left: -1px;font-size: 48px;line-height: 20px;z-index: 9; border-radius: 30px;}
ul.shedule li::after { content: '';height: calc(100% - 26px);width: 1px;position: absolute;background: #1db4c1;top: 33px;left: 6px;z-index: 9;}
ul.shedule li:last-child:after {display: none;}

ul.shedule.pink li::before { color: #ff1569; }
ul.shedule.pink li::after {background: #ff1569; }





ul.check { margin: 0 0 30px 0 !important; padding: 0 !important; list-style: none !important; line-height: normal !important; }
ul.check.column { display: grid; grid-template-columns: 1fr 1fr; grid-column-gap: 20px; }
ul.check li { position: relative; padding: 10px 0px; display: grid; grid-template-columns: auto 1fr; align-items: center;font-size: 18px;}
ul.check li:before { content: '';  background: url(https://levelup.ua/wp-content/uploads/2019/03/Icon-Checkbox-Blue-1.png) center no-repeat;
    position: relative; left: 0; color: #1db4c1; background-size: cover; width: 36px; height: 36px; display: inline-block; margin-right: 10px; }
ul.check li:first-child { padding-top: 0; }
ul.check li:last-child { padding-bottom: 0; }

@media (max-width: 768px) {
    ul.check.column {grid-template-columns: 1fr;}
}


ul.num { margin: 0 0 30px 0 !important; padding: 0 !important; list-style: none !important; line-height: normal !important; counter-reset: myCounter; }
ul.num li { position: relative; padding: 10px 0px; display: grid; grid-template-columns: auto 1fr; align-items: center;}
ul.num li:before { counter-increment: myCounter; content: counter(myCounter); text-align: center; line-height: 44px; content: counter(myCounter);  background: url(https://uaitsmart.com/wp-content/uploads/2019/03/hex_Icons.svg) center no-repeat;
    position: relative; left: 0; color: #fff; font-weight: normal; background-size: cover; width: 46px; height: 46px; display: inline-block; margin-right: 10px; }
ul.num li:first-child { padding-top: 0; }
ul.num li:last-child { padding-bottom: 0; }


ul.num2 { margin: 0 0 30px 0 !important; padding: 0 !important; list-style: none !important; line-height: normal !important; counter-reset: myCounter; }
ul.num2 li { position: relative; padding: 10px 0px; display: grid; grid-template-columns: auto 1fr; align-items: center;}
ul.num2 li:before { counter-increment: myCounter; content: counter(myCounter); text-align: center; line-height: 47px; content: counter(myCounter);  background: url(https://uaitsmart.com/wp-content/uploads/2019/03/num-2.png) center no-repeat;
    position: relative; left: 0; color: #fff; font-weight: 600; background-size: contain; width: 46px; height: 46px; display: inline-block; margin-right: 10px; }
ul.num2 li:first-child { padding-top: 0; }
ul.num2 li:last-child { padding-bottom: 0; }

ul.w80  { width: 80%; margin: 0 auto 30px auto !important; }



.block-accent-lab { padding: 30px 20px; }
.editor-post-title__block .editor-post-title__input { font-family: 'Montserrat', sans-serif !important; padding: 0 35px; margin-bottom: 40px; }


.title1 { text-align: center; position: relative; }
.title1:before {content: ''; position: absolute; width: 100%; height: 1px; border-top: 1px dotted #dedede; top: 41%; left: 0; }
.title1 strong { background: #fff; position: relative; padding: 0 20px; }
.title2 { text-align: center; position: relative; }
.title2:before {content: ''; position: absolute; width: 100%; height: 1px; border-top: 1px dotted #dedede; top: 41%; left: 0; }
.title2 strong { background: #fff; position: relative; padding: 0 20px; font-weight: normal; }

@media (max-width: 768px) {
        ul.w80 {width: 100%;}
}

.editor-block-list__block > .editor-block-list__insertion-point {height: 0; display: none; }
.pb-0,.py-0{padding-bottom:0!important}
.pb-1,.py-1{padding-bottom:.25rem!important}
.pb-2,.py-2{padding-bottom:.5rem!important}
.pb-3,.py-3{padding-bottom:1rem!important}
.pb-4,.py-4{padding-bottom:1.5rem!important}
.pb-5,.py-5{padding-bottom:3rem!important}

.mb-0,.my-0{margin-bottom:0!important}
.mb-1,.my-1{margin-bottom:.25rem!important}
.mb-2,.my-2{margin-bottom:.5rem!important}
.mb-3,.my-3{margin-bottom:1rem!important}
.mb-4,.my-4{margin-bottom:1.5rem!important}
.mb-5,.my-5{margin-bottom:3rem!important}


.mini_btn .wp-block-button__link {font-size: 16px;padding: 6px 22px;}


.editor-styles-wrapper .wp-block-columns ul.check {margin: 0 !important;}
.wp-block-columns .editor-default-block-appender {display: none}
.wp-block-columns .editor-block-list__layout .editor-block-list__block {margin-top: 15px;}
.wp-block-column ul.check {margin: 0 0 10px 0 !important;}

.wp-block-columns > .editor-inner-blocks > .editor-block-list__layout > [data-type="core/column"] > .editor-block-list__block-edit > div > .editor-inner-blocks {margin: 0;}

.has-background {position: relative;}
.has-background::before { content: '';border: 10px solid transparent; border-top: 10px solid #1db4c1; left: calc(50% - 10px);position: absolute;bottom: -20px;z-index: 100; }


.photo-grid-4 {display: grid;grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: 20px;margin-bottom: 20px;}
.photo-grid-3 {display: grid;grid-template-columns: 1fr 1fr 1fr; grid-gap: 20px;margin-bottom: 20px;}

.photo-grid-4 a, .photo-grid-3 a {display: block;border-radius: 5px;}
.photo-grid-4 img, .photo-grid-3 img {display: block;}
